@import	url(reset.css);
.page {
	width: 80vw;
	background-color: rgba(224,255,255, .5);
	font-family: "Calibri", sans-serif;
	font-size: 25px;
	margin: auto;
	color: black;
}
.navigate a {
	text-decoration: none;
	color: white;
	text-align: left;
	line-height: 10vh;
	padding-right: 20px;
}
.header, .footer {
	text-transform: uppercase;
	height: 10vh;
	padding-left: 30px;
	background: linear-gradient(0deg, rgba(19,143,201,1) 0%, rgba(45,64,253,0.8132295154389881) 29%);
	line-height: 10vh;
	color: white;
}
.header h1 {
	float: left;
}
.navigate {
	display: flex;
	justify-content: flex-end;
}
.about {
	margin: 30px 0;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	font-size: 0.7em;
}
.image img {
	width: 300px;
	height: 300px;
	margin-right: 10vw;
	border: 1px dashed rgb(19,143,201);
	box-shadow: 10px 10px 20px -6px rgba(41,164,230,0.52);
}
.about_list {
	line-height: 2em;
}
hr {
	width: calc(100% - 20vw);
}
.experience {
	width: 80%;
	margin: auto;
}
.experience ul {
	list-style-type: circle;
	font-size: 0.9em;
	line-height: 1.5em;
	padding-left: 20px;
}
.experience p {
	font-size: 0.75em;
	line-height: 1.2em;
	text-align: justify;
}
.hobby {
	margin: 30px auto;
}
.hobby p {
	font-size: 0.7em;
	line-height: 1.2em;
	text-align: justify;
	padding-bottom: 10px;
	text-align: justify;
}
.hobby h2 {
	line-height: 1.5em;
}
